<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CarPricePredictor</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1 style="text-align:center;">Used Car Price Predictor - CSV File Upload</h1>

    <div class="container_upload" id="dvupload">
      <form  action="{{ url_for('generatePrices') }}" method="POST" enctype="multipart/form-data">
        <p>
        <label for="file">Upload a csv file</label>
        <input id="file" type="file" name="file" accept="csv/*">
        </p>
        <input type="submit" value="Upload File and Generate Price Predictions" id="upload-button" >
      </form>
    </div>

</body>

</html>
